Django==1.8.3
argparse==1.2.1
django-roa==1.8.1
djangorestframework==3.1.3
http-parser==0.8.3
nltk==3.0.4
requests==2.7.0
restkit==4.2.2
simplejson==3.8.0
socketpool==0.5.3
textblob==0.9.1
wsgiref==0.1.2
