Django==1.7.4
argparse==1.2.1
https://github.com/charles-vdulac/django-roa/archive/master.zip
djangorestframework==3.0.4
http-parser==0.8.3
nltk==3.0.1
requests==2.5.1
restkit==4.2.2
simplejson==3.6.5
socketpool==0.5.3
textblob==0.9.0
wsgiref==0.1.2
